<div class="col-xs-6">

  {{email-input email=credentials.email}}
  {{password-input password=credentials.password}}

  <button type="submit" class="btn btn-primary" {{action "submit"}}>
    Sign In
  </button>

  <button type="submit" class="btn btn-info" {{action "signUp"}}>
    New Account
  </button>

  <button class="btn btn-default" {{action "reset"}}>
    Cancel
  </button>
  
</div>
