<div class="event-card col-xs-3">
  <h5 class="col-xs-8">{{attraction.title}}</h5>
  <img class="col-xs-4" src={{attraction.medium_image_url}}>
  <table class="table table-bordered table-compressed">
    <tbody>
      <tr>
        <td width="25%">When</td>
        <td width="75%">{{attraction.event_time}}, {{attraction.event_date}}</td>
      </tr>
      <tr>
        <td width="25%">Description</td>
        <td width="75%"class="event-card-more">
          <span>Details</span>
          <div>
            {{attraction.description}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
