<div class="event-card col-xs-5">
  <div class="col-xs-12">
    <h5 class="col-xs-8">{{attraction.title}}</h5>
    <img class="col-xs-4" src={{attraction.medium_image_url}}>
  </div>
  <br />

  <hr>

  <div class="col-xs-12">
    <p>When: {{attraction.event_time}}, {{attraction.event_date}}</p>
    <p class="event-card-more">
      <span>Details</span>
      <div>
        {{attraction.description}}
      </div>
    </p>
  </div>
</div>
