<div class="event-card col-xs-5">
  <h4>{{attraction.title}}</h4>
  <h6>Details</h6>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>City</td>
        <td>{{attraction.city_name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{attraction.description}}</td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td>{{attraction.start_time}}</td>
      </tr>
      <tr>
        <td>Venue</td>
        <td><a href={{attraction.venue_url}}>{{attraction.venue_name}}</a></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{attraction.venue_address}}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success"
          {{action "likeAttraction"}}>
    Yes!
  </button>

  <button class="btn btn-danger"
          {{action "dislikeAttraction"}}>
    Meh
  </button>
</div>
