<div class="col-xs-3 keyword-tile">
  <h4>
    {{keyword.word}} <br />
    <button type="submit"
            class="btn btn-danger btn-sm"
            style="margin-top: 5px;"
            {{action "removeKeyword"}}>
      Remove
    </button>
    {{#if keyword.selected}}
      <button type="submit"
              class="btn btn-primary btn-sm"
              style="margin-top: 5px;"
              {{action "unSelectKeyword"}}>
        Unselect
      </button>
    {{else}}
      <button type="submit"
              class="btn btn-info btn-sm"
              style="margin-top: 5px;"
              {{action "selectKeyword"}}>
        Select
      </button>
    {{/if}}
  </h4>
</div>
