<h3>Profile Information</h3>
<div class="col-xs-12">
  <div class="col-xs-5">
    <table class="table table-bordered col-xs-12">
      <tbody>
        <tr>
          <td>First Name</td>
          <td style="font-weight: 700;">{{user.givenname}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td style="font-weight: 700;">{{user.surname}}</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td style="font-weight: 700;">{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h3>Friend Requests</h3>
<div class="col-xs-12">
  <div class="col-xs-5">
    <table class="table table-bordered col-xs-12">
      <tbody>
        <tr>
          <td>First Name</td>
          <td style="font-weight: 700;">{{user.givenname}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td style="font-weight: 700;">{{user.surname}}</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td style="font-weight: 700;">{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h3>Friends</h3>
<div class="col-xs-12">
  <div class="col-xs-5">
    <table class="table table-bordered col-xs-12">
      <tbody>
        <tr>
          <td>First Name</td>
          <td style="font-weight: 700;">{{user.givenname}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td style="font-weight: 700;">{{user.surname}}</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td style="font-weight: 700;">{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
