<div class="white-background-div col-xs-12">
  <h3>Profile Information</h3>

  {{#if isAuthenticated}}
    <h1>{{user.givenname}} {{user.surname}}</h1>

    <br />
    <br />

    <!-- OTHER PROFILE CONTENT  -->
    <div class="col-xs-8 col-offset-xs-2">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th scope="row">User ID</th>
            <td>{{user.id}}</td>
          </tr>
          <tr>
            <th scope="row">First Name</th>
            <td>{{user.givenname}}</td>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <td>{{user.surname}}</td>
          </tr>
          <tr>
            <th scope="row">Email Address</th>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <br />

    <div class="col-xs-12">

      <h3>Friend Requests</h3>

      <h4>Awaiting Your Approval</h4>

      <div class="col-xs-12"
           syle="margin: 15px;">
        {{#each awaitingApproval as |request|}}
          {{person-profile
            user=request.requestedUser
            profile=true
            awaiting=true
            pending=false
            friend=false
            hidePerson="hidePerson"
            removeFriend="removeFriend"
            cancelRequest="cancelRequest"
            acceptRequest="acceptRequest"
            declineRequest="declineRequest"
            unRequestFriend="unRequestFriend"}}
        {{/each}}
      </div>

      <br />

      <h4>Your Pending Requests</h4>

      <div class="col-xs-12"
           syle="margin: 15px;">
        {{#each pendingRequests as |request|}}
          {{person-profile
            user=request.requestedUser
            profile=true
            awaiting=false
            pending=true
            friend=false
            hidePerson="hidePerson"
            removeFriend="removeFriend"
            cancelRequest="cancelRequest"
            acceptRequest="acceptRequest"
            declineRequest="declineRequest"
            unRequestFriend="unRequestFriend"}}
        {{/each}}
      </div>

      <br />

      <h3>Friends</h3>

      <div class="col-xs-12"
           syle="margin-top: 15px; margin-bottom: 15px;">
        {{#each friends as |friend|}}
          {{person-profile
            user=friend.user
            profile=true
            awaiting=false
            pending=false
            friend=true
            hidePerson="hidePerson"
            removeFriend="removeFriend"
            cancelRequest="cancelRequest"
            acceptRequest="acceptRequest"
            declineRequest="declineRequest"
            unRequestFriend="unRequestFriend"}}
        {{/each}}
      </div>

      <br />

      <button type="submit" class="btn btn-success" {{action "viewKeywords"}}>
        Manage Keywords
      </button>

      <button type="submit" class="btn btn-primary" {{action "editProfile"}}>
        Edit Profile
      </button>

      <button type="submit" class="btn btn-danger" {{action "deleteProfile"}}>
        Delete Account
      </button>
    </div>
  {{/if}}
</div>
