<div class="event-card col-xs-12">
  <div class="col-xs-12">
    <div class="col-xs-11">
      <h3 class="col-xs-12" style="text-align: center;">
        {{trip.name}}
      </h3>
    </div>
    <div class="col-xs-1">
      <button type="button"
              class="close tile-close-button"
              {{action "back"}}>&times;
      </button>
    </div>
  </div>
  <h6>Details</h6>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td width="35%">City</td>
        <td>{{trip.city_name}}</td>
      </tr>
      <tr>
        <td width="35%">Start Date</td>
        <td>{{trip.start_date}}</td>
      </tr>
      <tr>
        <td width="35%">End Date</td>
        <td>{{trip.end_date}}</td>
      </tr>
      <tr>
        <td width="35%">Notes</td>
        <td>{{trip.notes}}</td>
      </tr>
    </tbody>
  </table>

  <h6>People</h6>
  <ol>
    {{#each trip.attendances}}
      <li>{{attendance.user_id}}</li>
    {{/each}}
  </ol>

  <h6>Comments</h6>
  trip id: {{trip.id}}
  {{disqus-comments identifier=trip.id}}

  <hr>

  <div class="col-xs-12" style="text-align: right;">
    <button class="btn btn-md btn-info"
            {{action "back"}}>
      Back
    </button>
    <button class="btn btn-md btn-success disabled"
            {{action "inviteFriend"}}>
      Invite
    </button>
    <button class="btn btn-md btn-primary"
            {{action "updateTrip"}}>
      Edit
    </button>
    <button class="btn btn-md btn-danger"
            {{action "deleteTrip"}}>
      Delete
    </button>
  </div>
</div>
